'use strict';

const config = module.exports;

config.port = 3000;
config.tasks = {};

config.tasks['updateWeb'] = {
  token: 'xxxxxxx',
  command: 'cd /path/to/website && git pull'
};

config.tasks['updateBlog'] = {
  token: 'xxxxxxx',
  command: 'cd /path/to/blog && git pull && pm2 restart Blog'
  type: 'gitlab',
  branch: 'master',
};

